.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
*.sln
*.md
hosts
LICENSE
*.testsettings
build
vsts-docs
ServiceFabric
readme
k8s
img
docs
deploy
Components
cli-windows
cli-mac
cli-linux
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/*
global.json
**/appsettings.localhost.json
src/Web/WebSPA/wwwroot/
test
TestResults
test-results
src/Mobile/
